<html>
  <title> FlappyPrint </title>
  <head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>
    <script src="/static/phaser.min.js"></script>
    <script src="/static/main.js"></script>

    <link href="/static/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="game-container">
        <div id="game"></div>
        <p>
          Your score: <span id="game-score"></span>
        </p>
        <input id="name" type="text" placeholder="Your name">
        <button class="fancy" id="submit-button">Submit</button>
        <br>
        <br>
        <button class="fancy green" id="restart-button">Restart Game</Button>
      </div>

      <div class="leaderboard">
        <h1> Leaderboard </h1>
        <ol class="scores"></ol>
      </div>
    </div>
  </body>
</html>
